body{
    background-color: rgb(211, 32, 32);
}

.mifooster {
    background-color: #000000;
    color: white;
    padding: 40px;
    text-align: center;
}

#tablita {
    background-color: rgb(0, 0, 71);
    color: bisque;
}

#midiv {
    background-color: rgb(236, 255, 62);
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.color1 {
    background-color: rgb(236, 255, 62);
    padding: 20px;
    border-radius: 10px;
}

.LLL {
    background-color: blueviolet;
}

#ggg{
    background-color:rgb(231, 244, 117);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
}

.color2 {
    color: rgb(86, 189, 86); /* Color para a en las secciones */
}

.color3 {
    color: rgb(91, 34, 34); /* Color para h3 */
}



